// Place all the styles related to the packback controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	background-color: #f2f3f6;
}
.logo {
	background-color: #1c516a;

}
.logo img{
	width: 25%;
}
#Body{
	background-color: #1b6d91;

}
#Body2{
	background-color: #f2f3f6;
	display: flex;
  flex-direction: column;
  color: #707781;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  text-align: center;

}
#case-study{
	background-color: #1b6d91;
	text-align: center;
	margin:0;
	padding:0;
	font-size: 5vw;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
	color:white;

}
#header{
	font-size: 5vw;
	padding:0;
	margin: 0;
	font-weight:bold;
	
}
#header2{
	font-size: 2vw;
	font-weight:bold;
	width:75%;
	padding-left: 7%;
}

#csbody{
	font-size: 2vw;
	width:78%;
	text-align: left;
	padding-left: 5%;
  display: inherit;
  padding-bottom: 2%;
  padding-left: 11%;
}


#csbody img {

	margin:0;
	padding:0;
	
	float: right;
	
}
.blue-header{
	color: #4193b1;
	font-size: 2.5vw;
	font-weight:bold;
	width:80%;
	padding-left: 6%;

	margin: 0;
}
#mirror-panel{
	background-color: #f2f3f6;
	color: #707781;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;

  width:100%;
  padding-bottom: 15%;

}
.mirror-header{
	font-size: 1.9vw;
	font-weight:bold;

}
#mirror{
	float:left;
	width:50%;
}
#mirror2{
	float:right;
	width:50%;

}
.mirror-author{
	font-size: 1.5vw;
	font-weight:bold;
	margin:0;
	padding:0;
}
#stats{
	background-color: #ffffff;
	 height:200px;
	color: #707781;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  font-size: 2vw;
  text-align: center;
  font-weight:bold;
  padding: 0px;
  margin: -15px;


}

#numbers{
	font-size: 3vw;
	word-spacing: 73px;

}
#QandR {
	font-size: 1.3vw;
	word-spacing: 17px;



}
#searchbar-header{
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
	font-size: 2vw;
	background-color: #1b6d91;
	color: white;
	padding: 0px;
  margin: 0px;
  height:200px;
  text-align: center;
  font-weight:bold;

}

#s-header{
	padding-top: 3%;
}


.form-group{
// text-align: center;
}
#exampleInputEmail1{
	width:45%;
	margin: 0 auto;

}
#request-button {
	background-color:#f0b07a;

}
#demo-body{

	background-color: #f2f3f6;
}

.footer{
	background-color: #5d646e;
	font-size:1.2vw;
}

#demo-footer{
	background-color: #5d646e;
	font-size:1.2vw;
	color: white;

}
#demo-forms{
	width:45%;
	margin: 0 auto;
	display: block;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
	color: #707781;

	
}
#demo-header{
	font-size: 3.5vw;
	padding:0;
	margin: 0;
	font-weight:bold;
	color: #707781;
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  text-align: center;

}
#demo-description{
	padding-top: 5%;
	width:45%;
	margin: 0 auto;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;

}
.demo-fields{
	width: 75%;
	border-radius:5px;
	height: 34px;
	border-color: white;
	margin-bottom: 10%;


}
.btn.btn-primary{
	background-color: #1b6d91;
	width:45%;
}
