<!DOCTYPE html>
<html>
<head>

	<title>Home</title>
	<meta charset="UTF-8">
</head>
<body>

<div id='logo'> <%= image_tag "Logo.svg",  alt:"Packback Logo"%> </div>
<div id='Body'> <%= image_tag "Body.svg", alt:"Packback Case Study image"%> </div>
<div id='Body2'> 
	<p id="header">Packback Questions Improves
	Student Engagement & Retention </p>
	<p id="header2">Case Study #12: Professor Smith, Illinois State University, 2017 </p>
</div>
</body>
</html>
