<!DOCTYPE html>
<html>
<head>

	<title></title>
	<meta charset="UTF-8">
</head>
<body>
<div class='logo'>  <a href=<%=root_path%>><%= image_tag "Logo.svg",  alt:"Packback Logo"%></a> </div>
<div> </div>
</body>
</html>
